{% load static %} {% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    <title>Report Generator</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'style.css' %}?{% now 'U' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" id="topnav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="{% static 'images/expose-logo.png' %}" alt="Expose" height="17px" /> </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="active"><a href="#home">Home</a></li>
                        <li><a href="#services">Profile</a></li>
                        <li><a href="#pricing">Pricing</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li style="margin-left:10px;">
                            <p><a class="btn btn-danger btn-lg" style="margin: 10px 0px; padding:1px 6px;" onClick="register()">Sign Out <i class="icon icon-angle-right"></i></a></p>
                            <script>
                                function register() {
                                    $("#registerModal").modal('show');
                                }

                                function loginmod() {
                                    $("#loginModal").modal('show');
                                }
                            </script>
                        </li>
                    {% else %}
                        <li class="active"><a href="#home">Home</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#services">Features</a></li>
                        <li><a href="#pricing">Pricing</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li style="margin-left:10px;">
                            <p><a class="btn btn-success btn-lg" style="margin: 10px 0px; padding:1px 6px;" onClick="register()">Register <i class="icon icon-angle-right"></i></a></p>
                            <script>
                                function register() {
                                    $("#registerModal").modal('show');
                                }

                                function loginmod() {
                                    $("#loginModal").modal('show');
                                }
                            </script>
                        </li>
                        <li style="margin-left:10px;">
                        <p><a class="btn btn-success btn-lg" style="margin: 10px 0px; padding:1px 6px;" onClick="register()">Login <i class="icon icon-angle-right"></i></a></p>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </div>

        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.js"></script>
    </body>

</html>
</body>